/** This mixin makes a single line element fit exactly on the Roboto font for easier integration. */
ingame-ui#diagonalization-panel-indicatorsPanel {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  height:100% !important;
  width: 100% !important;
  /*border: 2px solid blue !important;*/
}
ingame-ui#diagonalization-panel-indicatorsPanel #diagonalization-panel-indicatorsPanelWrap {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 100% !important;
  /*border: 2px solid red !important;*/
  min-height: 0;
  min-width: 0;
  overflow:hidden;
  align-items: stretch !important;
  flex: 1 1 auto !important;
}

ingame-ui#diagonalization-panel-indicatorsPanel #diagonalization-panel-indicatorsPanelWrap #diagonalization-panel-indicatorsPanelIframe {
  flex: 1 1 auto !important;
  border: 0;
}

